.data > p {
    background-color: bisque;
    font-size: 30px;
    padding: 10px;
    width: 250px;
    text-align: center;
}
.data {
    display: none;
}
#container:checked + .data {
    display: block;
}
#container {
    display: none;
}